<!doctype html>
<html>
  <head>
    <title>edokoa HTML pong v0.1</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/pong.css">
  </head>
  <body>
    <div id="playfield" data-session="{{ sessionID }}">
      <div id="player1" class="player"></div>
      <div id="player2" class="player"></div>
      <div id="ball" class="ball"></div>
      <div id="divider"></div>
      <canvas class="qrcode" id="qr-player1"></canvas>
      <canvas class="qrcode" id="qr-player2"></canvas>
    </div>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/qrcode.js"></script>
    <script type="text/javascript" src="/javascripts/game.js"></script>
  </body>
</html>
