<!DOCTYPE html>
<html>
<head>
    <title>Welcome to {{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0,user-scalable=no"/>
</head>
<body>
<div id="up" class="container" touch-action="none">
    <span class="char">↑</span>
</div>
<div id="down" class="container" touch-action="none">
    <span class="char">↓</span>
</div>
<!-- weinre debug client -->
<!-- script src="http://192.168.43.26:8080/target/target-script-min.js#anonymous"></script -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/node_modules/pepjs/dist/pep.js"></script>
    <script src="javascripts/pong.js"></script>
</body>
</html>
