<html>
  <head>
    <title>Welcome to {{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="up" class="container">
      <span class="char">↑</span>
    </div>
    <div id="down" class="container">
      <span class="char">↓</span>
    </div>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="javascripts/jquery.mobile.js"></script>
    <script type="text/javascript" src="/javascripts/pong.js"></script>
  </body>
</html>
