html {
  background: black;
}

.box {
  margin: 0 auto;
  margin-top: 2.5em;
  display: block;
  border: 0.5em solid white;
  width: 80%;
  top: 15%;
  display: block;
  background-color: black;
  font-size: 5em;
  padding: 1em;

  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px; /* rounded corners */
}

#nojs {
  color: red;
  border: 0.5em solid red;
}

#playfield {
  display: none;
  position: relative;
  width: 960px;
  height: 800px;
  background: #666666;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px; /* rounded corners */
}

.player, .ball {
  position: absolute;
  display: none;
  background: white;
  
  
  width: 30px;
  height:100px;
  
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  
  left: 50px;
  top: 0px;
  
}

.ball {
  height: 30px;
  width: 30px;
  left: 480px;
  top: 400px;
}

#player2 {
  left: 880px;
}

#divider {
  position: absolute;
  top: 0;
  display: block;
  left: 465px;
  width: 0;
  height: 800px;
  border-right: 30px dotted #FFF;
  opacity: 0.2;
}

.score {
  opacity: .2;
  position: absolute;
  left: 285px;
  top: 30px;
}

#p2score {
  left: 555px;
}

.pixel {
  display: block;
  background: white;
  position: absolute;
  height: 30px;
  width: 30px;
}

.qrcode {
  display: block;
  position: absolute;
  bottom: 10px;
  width: 350px;
  height: 350px;
}

#qr-player1 {
  left: 10px;
}

#qr-player2 {
  right: 10px;
}

#instruction {
  border: 0.5em solid white;
  width: 80%;
  top: 4%;
  left: 4%;
  display: block;
  position: absolute;
  background-color: black;
  font-size: 2.5em;
  color: white;
  padding: 1em;

  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px; /* rounded corners */

}

#gameresults {
  display: none;
  border: 0.5em solid white;
  width: 80%;
  top: 4%;
  left: 4%;
  position: absolute;
  background-color: black;
  font-size: 2.5em;
  color: white;
  padding: 1em;

  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px; /* rounded corners */
  z-index: 9000;
}

#gameresults p {
  color: white;
}